<div class="container mt-4">
    <h1 class="text-center">รายชื่อสมาชิกในกลุ่ม</h1>
    <div class="row mt-4 text-center">
        <div class="col">
            <div class="card mx-auto" style="width: 16rem;">
                <div id="carouselExampleFade" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="assets/teams/Pee.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/teams/Pee1.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/teams/Pee2.png" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                <div class="card-body">
                    <h5 class="card-title">นายพีระพัฒน์ เนตใน</h5>
                    <p class="card-text">ปวส.1/5 เลขที่ 8</p>
                    <a class=""><h2>พี</h2></a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mx-auto" style="width: 16rem;">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="assets/teams/Bom.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/teams/Bom1.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/teams/Bom2.png" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                <div class="card-body">
                    <h5 class="card-title">นายอภิชิต แพร่สาร</h5>
                    <p class="card-text">ปวส.1/5 เลขที่ 1</p>
                    <a class=""><h2>บอมส์</h2></a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mx-auto" style="width: 16rem;">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="assets/teams/Best.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/teams/Best1.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/teams/Best2.png" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                <div class="card-body">
                    <h5 class="card-title">นายโชติวัฒน์ ยศไธสง</h5>
                    <p class="card-text">ปวส.1/5 เลขที่ 10</p>
                    <a class=""><h2>เบส</h2></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto" style="width: 16rem;">
                <img src="assets/teams/Bas.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">นาย สันติสุข เย็นศิลป์</h5>
                    <p class="card-text">ปวส.1/5 เลขที่ 2</p>
                    <a class=""><h2>บาส</h2></a>
                </div>
            </div>
        </div>