

<header>
<MARQUEE behavior=alternate direction=left scrollAmount=3 width="4%">🖤<font face=Webdings>♥</font></MARQUEE><MARQUEE scrollAmount=1 direction=left width="2%">★★★</MARQUEE><font color=dark><h2>Auspicious Fish Feeding Machine </h2></font> <br><MARQUEE scrollAmount=1 direction=right width="2%">★★★</MARQUEE><MARQUEE behavior=alternate direction=right scrollAmount=3 width="4%"><font face=Webdings>♥🖤</font></MARQUEE>
</header>

<div class="me-5 text-center">
    <h1> อุปกรณ์ IoT </h1>
    <p>  <font color=blue> ตู้จำหน่ายอาหารปลาเสริมมงคล</font> </p>
</div>   
<html lang="en">
<head>
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ตัวอย่างการจัดวางรูปและข้อมูล</title>
    <style>
        .container {
            display: flex; /* ทำให้ container เป็น flex container */
        }
        .image {
            flex: 1; /* ให้รูปภาพยืดเต็มพื้นที่ที่เหลือ */
        }
        .content {
            flex: 2; /* ให้ส่วนของเนื้อหายืดเต็มพื้นที่ที่เหลือ */
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container ">
        <div class="image">
            <marquee behavior="slide" scrollamount="70">
            <img src="assets/pin/pin01.png" alt="รูปภาพ">
        </marquee>
        </div>
        <div class="content">
            <h2>ESP32</h2>
            <p>ESP32 คือ ชิปไมโครคอนโทรลเลอร์ขนาดเล็กแต่ทรงพลัง ที่มาพร้อมกับความสามารถในการเชื่อมต่อ Wi-Fi และ Bluetooth ในตัว 
                ทำให้เป็นตัวเลือกที่ได้รับความนิยมอย่างมากสำหรับการพัฒนาอุปกรณ์ IoT (Internet of Things) หรืออุปกรณ์ที่สามารถเชื่อมต่ออินเทอร์เน็ตได้หลากหลายประเภท</p>
        </div>
    </div>
    <div class="container">
        <div class="image">
            <marquee behavior="slide" scrollamount="70">
            <img src="assets/pin/pin02.png" alt="รูปภาพ">
        </marquee>
        </div>
        <div class="content">
            <h2>Push Button Switch</h2>
            <p>สวิตซ์ปุ่มกด เป็นอุปกรณ์ทางไฟฟ้า ซึ่งทำหน้าที่ตัดและต่อวงจรทางไฟฟ้าและ 
                ใช้ในการควบคุมการทำงานของมอเตอร์ หรือการทำงานของเครื่องจักรต่างๆ เป็นเหมือนอุปกรณ์พื้นฐาน ใช้ได้กับอุตสาหกรรมทั่วไป 
                มีทั้งแบบมีไฟ และทึบแสง</p>
    </div>
</div> 
    <div class="container">
           <div class="image">
            <marquee behavior="slide" scrollamount="70">
               <img src="assets/pin/pin03.png" alt="รูปภาพ">
            </marquee>
           </div>
           <div class="content">
               <h2>Coin Vending Machine</h2>
               <p>ที่หยอดเหรียญ เป็นเครื่องที่มีจุดประสงค์เพื่อจำหน่ายสิ่งของเช่น อาหารว่าง, เครื่องดื่ม, บุหรี่ หรือ ล็อตเตอรี หรือแม้กระทั่งทองคำ 
                ให้กับลูกค้าโดยอัตโนมัติ หลังจากลูกค้าได้ใส่เงินหรือบัตรเครดิต เข้าสู่เครื่อง โดยเครื่องจำหน่ายสินค้าอัตโนมัติเครื่องแรก
                ได้รับการพัฒนาในประเทศอังกฤษ ช่วงต้นคริสต์ศตวรรษที่ 19 เพื่อจำหน่ายไปรษณียบัตร</p>
        </div>
    </div>
    <div class="container">
        <div class="image">
            <marquee behavior="slide" scrollamount="70">
            <img src="assets/pin/pin04.png" alt="รูปภาพ">
        </marquee>
        </div>
        <div class="content">
            <h2>Relay</h2>
            <p>รีเลย์ คือ อุปกรณ์อิเล็กทรอนิกส์ที่ใช้กันอย่างแพร่หลายในวงจรควบคุมอัตโนมัติ ทำหน้าที่เปรียบเสมือนสวิตช์ไฟ 
               ที่ใช้แรงดันไฟฟ้าในการเปิดและปิดอุปกรณ์ไฟฟ้าเพื่อควบคุมวงจรต่างๆ</p>
        </div>
    </div>
    <div class="container">
        <div class="image">
            <marquee behavior="slide" scrollamount="70">
          <img src="assets/pin/pin05.png" alt="รูปภาพ">
        </marquee>
        </div>
        <div class="content">
            <h2>Speaker</h2>
            <p>ลำโพง คือ อุปกรณ์อิเล็กทรอนิกส์ชนิดหนึ่งที่มีหน้าที่หลักในการแปลงสัญญาณไฟฟ้าที่ได้รับจากอุปกรณ์อื่นๆ 
                เช่น คอมพิวเตอร์ โทรทัศน์ หรือเครื่องเสียง ให้กลายเป็นคลื่นเสียงที่เราสามารถได้ยินได้</p>
        </div>
    </div>   
    <div class="container">
        <div class="image">
            <marquee behavior="slide" scrollamount="70">
          <img src="assets/pin/pin06.png" alt="รูปภาพ">
        </marquee>
        </div>
        <div class="content">
            <h2>LCD Display</h2>
            <p>LCD ย่อมาจาก Liquid Crystal Display หรือ จอภาพผลึกเหลว เป็นเทคโนโลยีที่ใช้ในการแสดงผลภาพบนอุปกรณ์อิเล็กทรอนิกส์ต่างๆ 
                ที่เราพบเห็นในชีวิตประจำวันมากมาย เช่น โทรศัพท์มือถือ คอมพิวเตอร์ โทรทัศน์ และแท็บเล็ต</p>
        </div>
    </div>  
    <div class="container">
        <div class="image">
            <marquee behavior="slide" scrollamount="70">
          <img src="assets/pin/pin07.png" alt="รูปภาพ">
        </marquee>
        </div>
        <div class="content">
            <h2>HC-SR04</h2>
            <p>เป็น SENSOR ใช้วัดระยะทางของวัตถุ หรือสิ่งกีดขวางที่อยู่ด้านหน้า SENSOR 
               โดยใช้หลักการส่งคลื่นเสียง ULTRASONIC ออกไป และรับคลื่นเสียงที่สะท้อนกลับมา โดยใช้การจับเวลาที่ส่งคลื่นเสียงออกไป และสะท้อนกลับมา</p>
        </div>
    </div>
